\#*
*#
*.swp
*~
.DS_Store
/.blobs/
/.dev_builds/
/.final_builds/
/.idea
/.vagrant/
/blobs/
/config/dev.yml
/config/private.yml
/config/settings.yml
/dev_releases/
/packages/**/*.zip
/packages/**/*.tgz
/packages/**/*.tar.gz
/releases/*.tgz
/tmp/
/releases/rootfses/*.tgz
credentials.yml
